* {scroll-behavior: smooth;}

body {background-color: black;
    max-width:auto;
    min-width:100px;
	background-position: center;
	background-attachment: fixed;
	box-sizing: border-box;
	}
h1 { text-align: center;
	font-size: 30px;
	margin: 80px auto 20px;
	font-family: times;
}
img {display: block; 
    margin: auto;
	height:150px; 
	width:80%;
	filter:drop-shadow(2px 3px 2px #eeefff);
}
.work {
	min-width: 100%;
	width:auto;
	height: auto;
	
	padding:10px;
	background-color:#0f2531;
	color: rgb(255,255,255);
	font-size:15px;
	font-family:serif;
	display: inline-block;
	text-align: center;
	box-sizing:border-box;
}
	.top-image {max-width:100%;
	    height:60px;
	    margin:3px 0;
		background-color:black;
		border:1px solid grey;
		border-radius:6px;
		box-sizing: border-box;
}
.top-image img {
	width:100%;
	height:100%;
	filter:none;
	
}
ul {text-align: left;
	
}

a:link {color: cyan;
	background-color: transparent;
	text-decoration: none;
}
a:visited {color: cyan;
	background-color: transparent;
	text-decoration: none;
}
a:hover {color: green;
	background-color: transparent;
	text-decoration: none;
}

hr {height:1px;
	background-color: grey;
	border-color:black;
	width: 90%;
}

button {background-color: cyan;
    margin:0.5rem;
	display: inline-block;
	height:30px;
	width:85px;
	border: 2px solid black;
	font-size:16px;
}
.others {box-sizing: border-box;
	margin: 30px auto;
	background-color: white;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	width: 90%;
	height:auto;
	font-family: Arial;
	padding:10px;
	border-radius:50px;
}

.others p > a:link {color: black;
	background-color:gold;
	background-size: 60%;
	font-weight: bold;
	font-size:25px;
	border:1px solid grey;
	border-radius:4px;
	padding:5px;
}
.others p {padding:3px;
}
.others a:visited {color: black;}
.others p:hover{color: gold;
	background-color:cyan;
}
.button button {font-size:18px;
	font-style: italic;
	font-weight: bold;
	background-image: linear-gradient(180deg, grey, cyan, white);
	font-family:Arial;
	display: inline-block;
	border: 3px solid grey;
	width:40%;
	height:30px;
	border-radius:8px;
	margin:0;
}
.last-monitor{font-size:25px;
	
}
header {position: sticky;
	z-index:100;
	top:0;
}
.head {display:flex;
    flex-direction:row;
	max-width:100%;
	height:60px;
	padding:0;
	margin:0;
	justify-content:space-evenly;
	align-items: center;
	z-index: 100;
	border:1px solid cyan;
    background-image: linear-gradient(180deg, #002d39, black, #0a0a32);
    box-sizing:border-box;
	list-style-type: none;
}
.head li{margin:6px;
	font-family:monospace;
	background:black;
	border: 3px double cyan;
	border-radius:7px;
	height: 15px;
	padding: 3px;
	font-weight: bold;
	text-align:center;
}
.head > li > a {color:white;
}

.nav-2, .nav-3 {align-self:flex-end;
}

.nav-1, .nav-4 {align-self:flex-start;}
.head a:hover{background-color: magenta;
}
#pc-name li {font-size:20px;
	font-weight:bold;
	font-family: Arial black;
    margin:0.5rem auto;}
 
.pc-image {
	margin:15px auto;
}
.spec {border:1px solid grey;
	width:80%;
	margin:auto;
	background-color:black;
}
.spec p {margin:0.5rem auto;
	text-align:left;
	font-family:serif;
	border-bottom:1px solid grey;
	padding-bottom:0.5rem;
	font-size:16px;
	font-weight:lighter;
}
.spec-head {font-weight:bold;
	margin: auto;
	color:gold;
}
#monitor {width:100%;
          border:1px solid black;
}
footer > p {text-align: center;
	font-size: 11px;
	display: inline-block;
	margin-bottom: 1px;
	margin-top: 1px;
	width: 50%;
}
@media only screen and (max-width:500px) {.button button {font-size:15px;
width:45%;
} 
.others p > a:link{font-size:20px;
	color:white;
	background-color:black;
}
.last-monitor {font-size:10px;}
} 