* {
	scroll-behavior: smooth;
}

body {
	background-color: black;
	max-width: auto;
	min-width: 300px;
	background-position: center;
	background-attachment: fixed;
	box-sizing: border-box;
}

h1 {
	text-align: center;
	font-size: 30px;
	margin: 80px auto 20px;
	font-family: times;
}

img {
	display: block;
	margin: auto;
	height: 150px;
	width: 220px;
	filter: drop-shadow(2px 3px 2px #eeefff);
}

.work {
	width: auto;
	height: auto;
	padding: 10px;
	background-color: #0f2531;
	color: rgb(255, 255, 255);
	font-family: serif;
	display: inline-block;
	text-align: center;
	box-sizing: border-box;
}

.top-image {
	max-width: 100%;
	height: 80px;
	margin: 3px 0;
	background-color: black;
	border: 1px solid grey;
	border-radius: 6px;
	box-sizing: border-box;
}

.top-image img {
	width: 100%;
	height: 100%;
	filter: none;

}

ul {
	text-align: left;

}

a:link {
	color: cyan;
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: cyan;
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	color: green;
	background-color: transparent;
	text-decoration: none;
}

hr {
	height: 1px;
	background-color: grey;
	border-color: black;
	width: 90%;
}

.others {
	box-sizing: border-box;
	margin: 30px auto;
	background-color: white;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	width: 300px;
	height: auto;
	font-family: Arial;
	padding-top: 30px;
	padding-bottom: 40px;
	border-radius: 50px;
}

.others p > a:link {
	color: black;
	background-color: darkseagreen;
	font-weight: bold;
	font-size: 22px;
	border: 1px solid gray;
	border-radius: 4px;
	padding: 5px;
}

.others p {
	padding: 3px;
}

.others p > a:hover {
	color: black;
	background-color: yellow;
}
.others p > a:visited {color:red;}
.others button {
	font-size: 17px;
	font-style:oblique;
	font-weight:bold;
	background-image: linear-gradient(180deg, black, cyan, gray);
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	display: inline-block;
	border: 2px solid gray;
	border-top: 1px solid #0f2531;
	border-left:1px solid black;
	border-right: 1px solid black;
	width: auto;
	opacity: 1;
	height: 30px;
	border-radius: 8px;
	cursor: pointer;
	box-shadow: 0 8px 7px -3px rgba(0, 0, 0, 0.6)
}

.others button {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.15s;
}

.others button:hover {
	padding-right: 20px;
	padding-left: 8px;
	opacity: 1;
	border: 1px solid black;
	color: rgba(100, 30, 150, 1);
}

.last-monitor {
	font-size: 25px;

}

header {
	position: sticky;
	z-index: 100;
	top: 0;
}

.head {
	display: flex;
	flex-direction: row;
	width: 100%;
	height:80px;
	padding:0px;
	margin: 0;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	z-index: 100;
	border: 1px solid cyan;
	border-radius:3px;
	background-image: linear-gradient(180deg, #002d39, black, #0a0a32);
	box-sizing: border-box;
	list-style-type: none;
}

.head>li {
	flex-shrink: 1;
	flex-basis: auto;
	margin: 6px;
	font-size: 16px;
	font-family: monospace;
	background: black;
	border: 3px double cyan;
	border-radius: 7px;
	height: 19px;
	width: auto;
	padding: 4px;
	font-weight: bold;
	text-align: center;
}
@media only screen and (max-width:400px) {
.head > li{font-size: 12px;
	height: 15px;
	margin:3px;}
.head>li:hover {font-size:13px;}

.others p > a {
	color: black;
	background-color: yellow;
}
.others p > a:hover {
	color:yellow;
	background-color: black;
}
.others button {font-size: 15px;
		width: auto;
	}

.others {width: auto;
	}

}

.head>li {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0s;
}

.head>li:hover {background-color:yellow;
	border-color:#010a0c;
	padding-right: 10px;
	padding-left: 8px;
	opacity:0.9;
	font-size: 17px;
}

.head>li>a {
	color: white;
}
.head>li>a:hover {
	color:black;
}
.nav-2,
.nav-3 {
	align-self: flex-end;
}

.nav-1,
.nav-4 {
	align-self: flex-start;
}

#pc-name li {
	font-size: 20px;
	font-weight: bold;
	font-family: Arial black;
	margin: 0.5rem auto;
}

.pc-image {
	margin: 15px auto;
}

.spec {
	border: 1px solid grey;
	width: 80%;
	margin: auto;
	background-color: black;
}

.spec p {
	margin: 0.5rem auto;
	text-align: left;
	font-family: serif;
	border-bottom: 1px solid grey;
	padding-bottom: 0.5rem;
	font-size: 16px;
	font-weight: lighter;
}

.spec-head {
	font-weight: bold;
	margin: auto;
	color: gold;
}

#monitor {
	width: 100%;
	border: 1px solid black;
}

footer>p {
	text-align: center;
	font-size: 11px;
	display: inline-block;
	margin-bottom: 1px;
	margin-top: 1px;
	width: 50%;
}

@media only screen and (max-width:600px) {
	.others button {
		font-size: 18px;
	}

	img {
		width: auto;
	}

	.others p>a:link {
		font-size: 12px;
		color: white;
		background-color: black;
	}
	.others p>a:hover {
		color: black;
		background-color: yellow;
}

@media only screen and (min-width:800px) {
	.others {
		width: 450px;
	}
}

.last-monitor {
	font-size: 10px;
}

@media only screen and (min-width:500px) {
	.others p>a:link {
		font-size: 12px;
	}
}

.form > textarea {
	width: 80%;
	margin: 3px;
}

@media only screen and (min-width:1000px) {
	.work {
		padding: 40px;
	}
}

#comment {
	background-color: cyan;
	margin: 0.5rem;
	display: inline-block;
	height: 30px;
	width: 85px;
	border: 2px solid black;
	border-radius: 5px;
	font-size: 16px;
}
